body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
main {
    width: 250px;
    display: inline-block;  
}
#starts {
    text-align: center;
}
#start {
    display: inline-block;
}