body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
main {
    width: 250px;
    display: inline-block;  
    border: 1px dashed black;
}
.modal {
    position: absolute;
    z-index: 1000;
    padding: 50px;
    background-color: #555;
}
  
.modal-close {
    cursor: pointer;
}